*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body{
    background-color: #151515;
    color: #fff;
    font-family: sans-serif;
}

header{
    background-color: #151515;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

}

.container{
    max-width: 900px;
/*     background-color: rgb(85, 85, 76);
 */    margin: auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-content ul{
    display: flex;
    gap: 15px;
}


/* Section welcome */



.welcome-content{
    display: flex;
    padding: 50px 0;

}

.col-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
/*     background-color: coral;
 */    flex: 2;
}

.col-1 h3{font-size: 3rem;}
.col-1 h3 span{
    text-decoration: underline;
    text-decoration-color:aquamarine;
}

.col-1 a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration-color:aquamarine;
}

.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
/*     background-color: darkred;
 */    flex: 1;
}

.img-pizza, .img-hoja, .img-tomato{
    position: absolute;
}

.img-pizza{
    filter: blur(1px);
}

.img-tomato{
    width: 70%;
    right: -50px;
    top: 10px;
}

.img-hoja{
    width: 20%;
    left: 10px;
    transform: rotate(-120deg);
}





/* SECCION PRODUCTOS */

#productos{
    background-color: lightgray;
}

#productos > .container{
    background-color: darkgrey;
}

.productos-content{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.product-card{
    flex: 1;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

/* .productos-content div:nth-child(1){
    background-color: rgb(146, 68, 12) ;
} */

/* .productos-content div:nth-child(2){
    background-color: rgb(243, 135, 102) ;
}
 */
.productos-content div:nth-child(3){
    background-color: rgb(238, 180, 133) ;
}


.product-card:hover .card-hover{
    opacity: 1;
}


/* card hover */

.card-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51)!important;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: .5s;
}

.card-hover-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    padding: 15px;
}


.card-hover-header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.btn-guardar{
    background-color: rgb(199, 30, 0);
    color:white;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor:  pointer;
}


.product-card img{
    width: 100%;
}


/* SECCION DE FOOTER */

.card-hover-footer{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;
}

.card-hover-footer i{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}